:root {
  --darkcyan: hsl(158, 36%, 37%);
  --darkcyan2: hsl(158, 36%, 25%);
  --cream: hsl(30, 38%, 92%);
  --verydark-blue: hsl(212, 21%, 14%);
  --darkgrayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body,
p {
  font-size: 14px;
  font-weight: 500;
}

h1 {
  color: var(--verydark-blue);
  font-family: Fraunces, serif;
  font-weight: 700;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: var(--cream);
  color: var(--darkgrayish-blue);
}

.card {
  width: 90%;
  max-width: 600px;
  background: var(--white);
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
}

.card .banner {
  background: url('images/image-product-mobile.jpg') center no-repeat;
  background-size: cover;
  height: 240px;
}

.card main {
  padding: 20px;
}

main>* {
  margin-bottom: 15px;
}

.title p {
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.price {
  display: flex;
  align-items: center;
}

.price h1 {
  margin-right: 10px;
  color: var(--darkcyan);
}

.buy {
  width: 100%;
  background: var(--darkcyan);
  color: var(--white);
  border: none;
  outline: none;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.buy img {
  width: 1em;
  margin-right: 5px;
}

.buy:hover {
  background-color: var(--darkcyan2);
  cursor: pointer;
}

@media screen and (min-width:640px) {

  body,
  p {
    font-size: 16px;
  }

  .card {
    display: flex;
  }

  .card>* {
    width: 50%;
  }

  .card .banner {
    background: url('images/image-product-desktop.jpg') center no-repeat;
    background-size: cover;
    height: 450px;
  }

  .card main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
  }

  .title p {
    margin-bottom: 20px;
    font-size: 14px;
  }
}